.row{
    margin-right: 0px;
    margin-left: 0px;
}
.col{
    margin-right: 0px;
    margin-left: 0px;
}
.user{
    padding: 0rem 1rem 0rem 1rem;
    border-right: 1px solid #dcdcdd;
    border-left: 1px solid #dcdcdd;
}