<footer class="page-footer font-small  pt-4" style="background-color:rgb(204, 203, 203);color: rgb(3, 3, 3)">
<div class="col-8" style="margin:auto">
    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">

          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>

        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          
          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>

      </div>
    </div>
    </div>
    <div class="row d-flex align-items-center grey pt-2">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8 ">

          <!--Copyright-->
          <p class="text-center text-md-left">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/">
              <strong> MDBootstrap.com</strong>
            </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a mdbBtn  size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  <mdb-icon fab icon="facebook"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a mdbBtn size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  <mdb-icon fab icon="twitter"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a mdbBtn size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  <mdb-icon fab fab icon="google-plus"></mdb-icon>
                </a>
              </li>
              <li class="list-inline-item">
                <a mdbBtn size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                  <mdb-icon fab icon="linkedin"></mdb-icon>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>

  
  </footer>
