<div class="container">
<div class="row text-center">
    <mdb-carousel class="carousel slide carousel-fade mt-2"  [animation]="'fade'">
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="../assets/images/adidas.jpg" alt="First slide">
          <div class="mask waves-light" mdbWavesEffect></div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="../assets/images/menss.jpg" alt="Second slide">
          <div class="mask waves-light" mdbWavesEffect></div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="../assets/images/adidas.jpg" alt="Third slide">
          <div class="mask waves-light" mdbWavesEffect></div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
    </div>
<div class="row mt-5 mb-5">
<div class="col-3 mt-3 zoom">
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img src="../assets/images/men_clothing.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4>Clothings</h4>
      </mdb-card-title>
  
      <p class="text-muted">+ Shop Now</p>
    </mdb-card-body>
  </mdb-card>
</div>
<div class="col-3 mt-3 zoom">
  <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <mdb-card-img src="../assets/images/men_footwear.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Footwear</h4>
        </mdb-card-title>
    
    
        <p class="text-muted">+ Shop Now</p>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-3 mt-3 zoom">
    <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <mdb-card-img src="../assets/images/men_cosmetics.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Personal Care  </h4>
          </mdb-card-title>
      
          <p class="text-muted">+ Shop Now</p>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-3 mt-3 zoom">
      <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <mdb-card-img src="../assets/images/men_fashion.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Fashion</h4>
            </mdb-card-title>
        
            <p class="text-muted">+ Shop Now</p>
          </mdb-card-body>
        </mdb-card>
      </div>
</div>
</div>