.spimg{
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: -1;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}
.col{
    margin-right: 0px;
    margin-left: 0px;
}
form{
    z-index: 1;
    margin: auto;
    background-color: aliceblue
    
}
.signupRow{
    margin-top: 8rem;
    margin-bottom: 10rem;
}