<div class="container" >
  <br>
<h2> <strong> {{ cat }}</strong> </h2>
<hr>
<button (click)='show()'>showww</button>
<div class="row mt-5 mb-5" >

    <div class="col-3 mt-3 zoom" >
      <mdb-card>
          <div class="view rgba-white-slight waves-light " mdbWavesEffect>
            <mdb-card-img src="../assets/images/sq1.jpg" alt="Card image cap pro"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Etables</h4>
            </mdb-card-title>

        
        
            <p class="text-muted">+ Shop Now</p>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-3 mt-3 zoom" >
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-img src="../assets/images/sq2.jpg" alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <mdb-card-body>
              <mdb-card-title>
                <h4>Accessories</h4>
              </mdb-card-title>
          
              <p class="text-muted">+ Shop Now</p>
            </mdb-card-body>
          </mdb-card>
        </div>
  
        <div class="col-3 mt-3 zoom" >
          <mdb-card>
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <mdb-card-img src="../assets/images/sq1.jpg" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>Tableware</h4>
                </mdb-card-title>
            
                <p class="text-muted">+ Shop Now</p>
              </mdb-card-body>
            </mdb-card>
          </div>

          <div class="col-3 mt-3 zoom" >
              <mdb-card>
                  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <mdb-card-img src="../assets/images/sq2.jpg" alt="Card image cap"></mdb-card-img>
                    <a>
                      <div class="mask"></div>
                    </a>
                  </div>
                  <mdb-card-body>
                    <mdb-card-title>
                      <h4>Tableware</h4>
                    </mdb-card-title>
                
                    <p class="text-muted">+ Shop Now</p>
                  </mdb-card-body>
                </mdb-card>
              </div>

              <div class="col-3 mt-3 zoom" >
                  <mdb-card>
                      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <mdb-card-img src="../assets/images/sq4.jpg" alt="Card image cap"></mdb-card-img>
                        <a>
                          <div class="mask"></div>
                        </a>
                      </div>
                      <mdb-card-body>
                        <mdb-card-title>
                          <h4>Tableware</h4>
                        </mdb-card-title>
                    
                        <p class="text-muted">+ Shop Now</p>
                      </mdb-card-body>
                    </mdb-card>
                  </div>
        
    </div>
    </div>