<div class="container-fluid" >
  <div class="row signupRow"  >
<form class="text-center border border-light p-4 z-depth-3 col-4" (ngSubmit)="onSignup(f)" #f="ngForm">

  <p class="h2 mb-4">SIGN UP</p>

  <div class="form-group">
  <input type="text" id="username" name="username" ngModel class="form-control mb-4" placeholder="Username" required>
  </div>

  <div class="form-group">
  <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" name="email" ngModel email required>
  </div>
  <div class="form-group">
  <input type="password" id="password" class="form-control" placeholder="Password" name='password' ngModel required>
  </div>
  <small class="form-text text-muted mb-4">
    At least 8 characters and 1 digit
  </small>
  <div class="form-group">
  <input type="password" class="form-control" placeholder="Confirm Password" name='confirm_password'  ngModel required>
  </div>

  <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]='!f.valid'>Sign Up</button>

  <p>or sign up with:</p>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="google"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="twitter"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="linkedin"></mdb-icon>
  </a>
  

  <hr>

  <p>By clicking
    <em>Sign up</em> you agree to our
    <a href="" target="_blank">Terms</a> and
    <a href="" target="_blank">tCondition</a>. </p>

</form>
  </div>
  
  <img class="spimg" src="../../../assets/images/login_back.svg" alt="">
</div>
